/* Global styles */
html {
	font-size: 62.5%;
}

body {
	align-items: center;
	background-color: $color-background;
	box-sizing: border-box;
	color: black;
	display: flex;
	font-family: 'lato', sans-serif;
	justify-content: center;
	margin: 10rem;
}
